@import "bootstrap/scss/bootstrap";
$body-background: #151e29;
$secondary-background: #1b2737;
$primary-text: #ddd;
$primary-font-size: 14pt;
$secondary-font-size: $primary-font-size / 2pt;
$large-font-size: 24pt;
$modal-font-size: 16pt;

// $header-def: '#1b2737';
// $bg-less-def: '#1f2d38';
// $text-def: '#7d7d7d';
// $text-less-def: '#969696';
// $text-lesser-def: '#ddd';
// $button-def: '#305e96';
// $button-less-def: '#1D8DEE';
// $light-def: '#ffffff';
// $dark-def: '#282828';
// $input-def: '#1f2d38';
// $pink-def: '#ff69b4';